In [12]:
import pandas as pd 
import numpy as np

In [1]:
from investor import Investor

In [2]:
investor = Investor('#1',100_000)

In [3]:
investor.buy(2111,50,25,'2022-01-01')

In [4]:
investor.buy(2111,50,27,"2022-01-02")

In [5]:
print(investor)

name       : #1
money held : 97,400
stocks     : [2111]
profit     : [0]

----------------------------------------
         date symbol action shares price total   dca
0  2022-01-01   2111    buy     50    25  1250  25.0
1  2022-01-02   2111    buy     50    27  1350  26.0

In [6]:
investor.calculateProfit({2111:26})

In [7]:
print(investor)

name       : #1
money held : 97,400
stocks     : [2111]
profit     : [0, {'total profit': 0.0, 'profit pct': 0.0}]

----------------------------------------
         date symbol action shares price total   dca
0  2022-01-01   2111    buy     50    25  1250  25.0
1  2022-01-02   2111    buy     50    27  1350  26.0

In [8]:
investor.sell(2111,50,50,"2022-01-03")

In [9]:
print(investor)

name       : #1
money held : 99,900
stocks     : [2111]
profit     : [0, {'total profit': 0.0, 'profit pct': 0.0}]

----------------------------------------
         date symbol action shares price total   dca
0  2022-01-01   2111    buy     50    25  1250  25.0
1  2022-01-02   2111    buy     50    27  1350  26.0
2  2022-01-03   2111   sell     50    50  2500  34.0

In [10]:
investor.updatePortfolio({2111:60})

In [20]:
df = pd.read_csv('../../collect_tadawul/tadawul_data.csv')

/Users/alialnasser/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [26]:
df['date'] = pd.to_datetime(df['transactionDateStr'])

In [30]:
df = df[['symbol','previousClosePrice','date']].rename(columns={'previousClosePrice':'price'})

In [35]:
df1010 = df[df['symbol'] == 1010]

In [39]:
df1010 = df1010.sort_values('date').reset_index(drop=True)

In [41]:
df1010['YM'] = df1010['date'].apply(lambda v: v.strftime('%Y-%m'))

In [42]:
df1010

      symbol  price       date       YM
0       1010   7.75 2001-12-31  2001-12
1       1010   7.88 2002-01-03  2002-01
2       1010   7.88 2002-01-05  2002-01
3       1010   7.88 2002-01-06  2002-01
4       1010   7.75 2002-01-07  2002-01
...      ...    ...        ...      ...
5461    1010  28.35 2023-03-12  2023-03
5462    1010  27.60 2023-03-13  2023-03
5463    1010  27.05 2023-03-14  2023-03
5464    1010  26.20 2023-03-15  2023-03
5465    1010  26.45 2023-03-16  2023-03

[5466 rows x 4 columns]